In [1]:
# tratamientos de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#-------------------------------

# exploracion de archivos
import sys
sys.path.append('../')
#-------------------------------

#funciones personalizadas
from src import sp_limpieza as sl
#-------------------------------

In [2]:
# exploracion de archivos y cambio df_raw para luego copiarlo
df_raw= pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)
#-------------------------------

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
897,898,B,2022-03-28,0,ELECTRONICS,P1641,Camera,0,"944,53","0,24","0,0",NaN,NaN,Central,53.0,F,Mobile,23,NaN,Safaaaaari,Social
1327,1328,B,2022-02-17,0,SPORTS,P1542,Running Shoes,0,"59,12","0,08","0,0",NaN,NaN,North,54.0,M,Mobile,23,NaN,Safaaaaari,Social
701,702,A,2022-03-23,0,BEAUTY,P1290,Mascara,0,"72,52","0,12","0,0",NaN,NaN,Central,44.0,F,Desktop,27,NaN,Ottttther,Organic
1754,1755,B,2022-01-19,0,BOOKS,P1266,Mystery,0,"19,5",NaN,"0,0",NaN,NaN,East,51.0,M,Mobile,28,NaN,Chrooome,PAID
1819,1820,A,2022-02-15,0,TOYS,P1580,Action Figure,0,"40,99","0,03","0,0",NaN,NaN,West,43.0,F,Mobile,7,NaN,Ottttther,Email

In [3]:
# copia del dataframe original
df = df_raw.copy()
#-------------------------------

### CAMBIOS NOMBRES COLUMNAS

In [4]:
# limpieza de columnas, clumnas en minusculas y sin espacios
df.columns =  df.columns.str.replace(' ', '_').str.lower()
#-------------------------------

### visit_date a fecha

In [5]:
# al no poder cambiar a tipo fecha, lo hacemos manualmente
df ["visit_date"] = pd.to_datetime(df['visit_date'],format='%Y-%m-%d')
#-------------------------------

### conversion crear conversion_str , crear yes o no

In [6]:
# creo columna conversion_str y la lleno con "yes" o "no"
df["conversion_str"] = df["conversion"].apply(lambda x: "yes" if x == 1 else "no")
#-------------------------------

### product_categoy a cambiar fashhion

In [7]:
#### cambiar product_categoy a miniscula y cambiar fashhion
df["product_category"] = df["product_category"].str.lower().replace("fashhion","fashion")
#-------------------------------

### product_id quitar la "p" y cambiar a numero

In [8]:
# quitamos la "P" y cambiamos a int64
df["product_id"] = df["product_id"].str.replace("P", "")
df["product_id"] = df["product_id"].astype("int64")
#-------------------------------

### product_name cambiar espacios por "_" FUNCION

In [9]:
sl.minuscula(df)

### price cambiamos , por . y cambiar a tipo float

In [10]:
sl.comas(df)

### payment method cambiar cambiar espacios por "_"

In [11]:
sl.espacios(df)

### map de browser

In [12]:
# map de browser
dicc_map = {'safaaaaari' : 'safari',
            'ottttther': 'other',
            'firefoxxxxxx' : 'firefox',
            'eddddge': 'edge',
            'chrooome' : 'chrome'}
# -------------------------------

In [13]:
# aplicamos el map a browser
df["browser"] = df["browser"].map(dicc_map)
# -------------------------------

In [14]:
# guardamos el dataframe limpio en otro carpeta

df.to_csv('../data/data_limpios.csv', index = False)

#-------------------------------